@import "../components/inuit-defaults/settings.defaults";
@import '../components/inuit-responsive-settings/_settings.responsive';


@import "../components/inuit-functions/tools.functions";
@import "../components/inuit-mixins/tools.mixins";
@import "../components/inuit-tools-widths/_tools.widths";
@import '../components/inuit-responsive-tools/_tools.responsive';


@import "../components/inuit-normalize/generic.normalize";
@import "../components/inuit-box-sizing/generic.box-sizing";


@import "../components/inuit-page/base.page";


$inuit-enable-layout--middle: true;
$inuit-enable-layout--center: true;
$inuit-enable-layout--huge: true;
$inuit-layout-gutter: 12px;
@import '../components/inuit-layout/_objects.layout';
@import '../components/inuit-media/_objects.media';
@import '../components/inuit-list-bare/_objects.list-bare';
@import '../components/inuit-list-inline/_objects.list-inline';
@import '../components/inuit-buttons/_objects.buttons';
@import '../components/inuit-flag/_objects.flag';

$inuit-widths-columns: (12);
$inuit-widths-columns-responsive: (12);
@import '../components/inuit-widths/_trumps.widths';
@import '../components/inuit-widths-responsive/_trumps.widths-responsive';


$inuit-enable-margins: true;
$inuit-enable-margins--large: true;
$inuit-enable-margins--huge: true;
$inuit-enable-paddings--small: true;
$inuit-enable-paddings--huge: true;
$inuit-enable-paddings--large: true;
$inuit-enable-paddings--tiny: true;
$inuit-enable-paddings: true;

$inuit-enable-responsive-paddings: true;
$inuit-enable-responsive-paddings--tiny: true;
$inuit-enable-responsive-paddings--small: true;
@import '../components/inuit-spacing/_trumps.spacing';
@import '../components/inuit-spacing-responsive/_trumps.spacing-responsive';


$inuit-enable-responsive-margins: true;
$inuit-enable-responsive-paddings--none: true;
@import '../components/inuit-spacing-responsive/_trumps.spacing-responsive';
@import '../components/inuit-clearfix/_trumps.clearfix';
