@import "inuit-css";

/*** FONTS ***/
$font--heading: "Raleway", Helvetica, Arial, sans-serif;
$font--body: "Lato", "Open Sans", Arial, sans;


/*** COLOR SCHEME ***/
$red: #D02724;
$red--dark: #9D1F20;


.layout {
  font-size: 0;
  * {
  
  }
}
.layout__item {
  font-size: 1rem;
}
.text--center {
  text-align: center !important;
}


.vertical--middle {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical--middle > *{
  display: table-cell;
  vertical-align: middle;

}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fefefe;
  background-image: url("/img/honeycomb.png");
  font-family: $font--body;
}

.logo {
  vertical-align: middle; 
  height: 100%;
}

h1 {
  font-family: $font--heading;
  color: $red--dark;
  letter-spacing: 5px;
  font-weight: 400;
  span {
    font-weight: 200;
  }
  font-size: 2em;
  text-transform: uppercase;
}

h2 {
  color: #1e1e1e;
  font-size: 1.5em;
  font-weight: 300;
}

.front {
  height: 100%;
  overflow: hidden;
  //background: url(/img/front-bg3.jpg) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  svg {
    max-width: 100%;
  }
}

a {
  color: #00B7FF;
}
  /* WebKit and Opera browsers */
@-webkit-keyframes spinner {
    from { -webkit-transform: rotateY(0deg);    
      transform-origin: center;
}
    to   { -webkit-transform: rotateY(-360deg); 

      transform-origin: center;
}
  }

  /* all other browsers */
  @keyframes spinner {
    from {
      -moz-transform: rotateY(0deg);
      -ms-transform: rotateY(0deg);
      transform: rotateY(0deg);
      -moz-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;
    }
    to {
      -moz-transform: rotateY(-360deg);
      -ms-transform: rotateY(-360deg);
      transform: rotateY(-360deg);
      -moz-transform-origin: center;
      -ms-transform-origin: center;
      transform-origin: center;

    }
  }
  #stage {
    margin: 1em auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 2000px;
  }
  #spinner {
    -webkit-animation-name: spinner;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 4s;

    animation-name: spinner;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 4s;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  #spinner:hover {
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
  }


/**** MEDIA QUERIES ****/
@media screen and (min-width: 45em) {
 html {
   font-size: 120%;
 } 
}
